@import url("https://fonts.cdnfonts.com/css/bogart");
@import url("https://fonts.cdnfonts.com/css/montserrat");

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  background-color: #fdc281;
}

body {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background-color: #fdc281;
}

section.signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  background-color: #fcf9f6;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #585858;
  color: #222;
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  color: #222;
  font-size: 15px;
  max-width: 80%;
  min-width: 220px;
  background-color: #fcf9f6;
}

.form-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

a,
a:visited {
  color: #db8a10;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  text-align: left;
  font-weight: 500;
}

.signin-button {
  margin-top: 0.6rem;
  padding: 0.5rem;
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  background-color: #dc9f5e;
  color: #fefefe;
}

button:hover {
  background-color: #e8ac6b;
  color: #fefefe;
}

button:disabled {
  border: none;
  background-color: #cea174;
  color: #a38f7b;
  cursor: not-allowed;
}

.success {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 15px;
}

#logo-form {
  display: flex;
  font-family: "Bogart", sans-serif;
  font-size: 40px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  justify-content: center;
  height: 40px;
  text-transform: lowercase;
  padding-bottom: 0px;
}

#logo-form:hover {
  font-size: 42px;
  height: 40px;
}

.form-wrapper #logo-form span {
  display: flex;
  color: #fdc281;
  font-weight: 400;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  color: #222;
}

.instructions {
  font-size: 0.5rem;
  border-radius: 0.5rem;
  background: #222;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: firebrick;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.signup {
  display: inline-grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-size: 15px;
  font-weight: 600;
}
